In [1]:
#Quiz On List


a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

In [2]:
a_list[1]

'hello'

In [3]:
a_list[1:4]

['hello', [1, 2, 3], True]

In [4]:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

In [18]:



# 아래부터는 기타 수업시간에 다뤘던 내용들



L = ["Michael Jackson", 10.1, 1982] #[] : indexing
L

['Michael Jackson', 10.1, 1982]

In [2]:
type(L[2])

int

In [3]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [4]:
L1 = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
print("before L1[0] changed", L1)
L1[0] = "Janet"
print("after L1[0] changed", L1)

before L1[0] changed ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]
after L1[0] changed ['Janet', 10.1, 1982, [1, 2], ('A', 1)]

In [5]:
Tuple1=("Michael Jackson", 10.1, 1982)
Tuple1
Tuple1[0]="Janet"

TypeError: 'tuple' object does not support item assignment

In [6]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [7]:
L[3:5]

['MJ', 1]

In [8]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10]) #['pop', 10] --> list 
L[3]

10

In [9]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10]) #['pop', 10]
L[2][0]

'pop'

In [10]:
A = ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
After change: [10.2, 'pop', 10, ['a', 'b']]

In [11]:
A = ['Michael Jackson', 10.2, 'pop', 10]

In [12]:

what='hard rock'.split()
print(what)
type(what)
what[1]

['hard', 'rock']

'rock'

In [14]:
Split_string_comma='A,B,C,D'.split(',')
Split_string_comma
type(Split_string_comma)
Split_string_comma[0]

'A'

In [15]:
A = ["hard rock", 10, 1.2]
B = A 

A[0] = "R&B"

print('A:', A) 
print('B:', B)

A: ['R&B', 10, 1.2]
B: ['R&B', 10, 1.2]

In [16]:
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: R&B
B[0]: banana

In [17]:
A = ["hard rock", 10, 1.2]
B = A[:] #A[:]
print(A)
print(B)
A[0] ='R&B'
print(A)
print(B)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]
['R&B', 10, 1.2]
['hard rock', 10, 1.2]