In [24]:
#3. 10명의 학생 이름과 점수를 입력받아 등수를 계산하고, 출력 시에는 이름, 점수를 등수 순서대로 출력하는 프로그램을 작성하시오.

print ("10명의 학생 이름과 점수를 입력하세요. 입력 예시: 백진호 100\n")

n=10

arr=[]
for i in range(n) :
    data = input().split()
    arr.append((data[0], int(data[1])))


arr = sorted(arr, key=lambda student:student[1],reverse=True)

print ("\n이름, 점수를 등수 순서대로 출력합니다.")

for i in arr :
    print("\n",i[0],i[1],end='')

10명의 학생 이름과 점수를 입력하세요. 입력 예시: 백진호 100

백진호 100
이지은 70
윤상운 80
김덕기 95
윤태웅 60
이현정 95
조수아 80
배원호 50
고승현 88
박성준 99

이름, 점수를 등수 순서대로 출력합니다.

 백진호 100
 박성준 99
 김덕기 95
 이현정 95
 고승현 88
 윤상운 80
 조수아 80
 이지은 70
 윤태웅 60
 배원호 50